</div>
<!-- Footer Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
        <h6 class="navbar-text">&copy; Copyright 2022, by Samuel Brangman</h6>
    </div>
</nav>