<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/CSS/arch-style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my <%= title %></p>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
