@charset "UTF-8";

body h1 {
    color: rgb(151, 112, 77);
    font-family: 'Aboreto';
    text-align: center;
}

body p {
    color: rgb(125, 93, 64);
    font-family: 'Aboreto';
    text-align: center;
}

.main {
    background-color: rgb(151, 112, 77);
}

.container {
    background-color: rgb(219, 207, 179);
}